[Desktop Entry]
Type=Application
Name=Rider
Comment=IDE for CSharp
Exec=/home/fredperr/Apps/Rider/bin/rider.sh
Icon=/home/fredperr/Apps/Rider/bin/rider.svg
Categories=Education;
MimeType=text/x-digital;
Terminal=false
Keywords=ide;csharp;c;

